<!-- <form class="search_bar" ng-submit="search_call()" method="post">
  <input type="search" ng-model="movieName"  placeholder="Search movies">
</form> -->
<div class = "the_page">
<h1 class="home_title">Sweaters</h1>

<div class="results_wrap">


    <span class="img_container" ng-repeat="result in results">

      <!-- <a ui-sref="info_view({page_name: {{result.id}}})"> -->

          <a ui-sref="individual_product({product_id: result.id})"><img class="home_page_img" ng-src="images/{{result.image_path}}"><figcaption>{{result.name}}<br>Price: ${{result.price}}</figcaption></a>
      <!-- </a> -->
    </span>

    <!-- other anchors here ... -->


</div>
</div>
