  <h3 class="title_shop_cart">Shopping Cart:</h3>
<div class="check_out_flex">
  <div class= "" ng-repeat="product in results">
    <div class="flex_cart_items">
      <span class = "cart_span">
    <label class="cart_items desc">- {{product.prodname}} </label>
    </span>
    <span class = "cart_span">
    <label class="cart_items">Price: ${{product.prodprice}}</label>
    </span>
    <span class = "cart_span">
    <button class="btn btn-danger" ng-click="removeItem(product.product_id)">Remove from cart</button>
    </span>
      </div>
  </div>
</div>

<div ng-if="!cart_active">
  <h3 class="title_shop_cart">No items in cart</h3>
</div>

<div class = "flex_cart_total" ng-if="cart_active">
  <div class="">
  <h4 class="cart_items">Total: ${{sum_of_sale}}</h4>
  <button class="btn btn-success" type="submit" ng-click="goToCheckout()">Check out</button>
    </div>
</div>
